<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoJR7TsnjhLnCF4qAo5Uk4XsKFbl8-4rg</string>
	<key>GCM_SENDER_ID</key>
	<string>244390916568</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.sumario</string>
	<key>PROJECT_ID</key>
	<string>sumario-47750</string>
	<key>STORAGE_BUCKET</key>
	<string>sumario-47750.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244390916568:ios:115e5832827a7ffc8a42ad</string>
</dict>
</plist>